*.iml
**/*.idea
**/*.bsp
*/.ipynb_checkpoints/**
/IDEA_Plugin/
*/target/**
target
*/__pycache__/**
*.DS_Store
/project/
data
airflow.cfg
airflow.db
airflow-webserver.pid
webserver_config.py
config/default_webserver_config.py
standalone_admin_password.txt
logs
